[main]
# Use space-separated FQDN of all nodes desired to check
nodes=node0 node1 node2 node3
# Specify if the nodes should be accessed:
# True = Concurrently
# False = Sequentially
threaded=True
# The method of reporting the information
# None = Print results to terminal
# CSV = Read in current CSV file, append new results, write out to CSV file
# JSON = Read in current JSON file, append new results, write out to JSON file
archive=JSON
